[submodule "react-app"]
	path = react-app
	url = https://github.com/daalvareza/movie-explorer-front.git
[submodule "movie-explorer-api"]
	path = movie-explorer-api
	url = https://github.com/daalvareza/movie-explorer-api.git
